In [31]:
#!pip install kafka-python
#!pip install psycopg2-binary
#!pip install sqlalchemy
#!pip install pandas
!pip install avro

Collecting avro
  Downloading avro-1.12.0-py2.py3-none-any.whl.metadata (1.7 kB)
Downloading avro-1.12.0-py2.py3-none-any.whl (124 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 124.2/124.2 kB 4.4 MB/s eta 0:00:00
Installing collected packages: avro
Successfully installed avro-1.12.0

In [12]:
from kafka.admin import KafkaAdminClient, NewTopic
import time
from kafka import KafkaProducer
import json
import psycopg2
from sqlalchemy import create_engine
import pandas as pd
import requests

In [13]:
pokemon_file = "pokemon.csv"
df_pokemon = pd.read_csv(pokemon_file,encoding='utf-8')

In [14]:
df_pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [15]:
df_pokemon = df_pokemon.rename(columns={"#": "poke-id"})

In [16]:
df_pokemon["id"] = df_pokemon.index
df_pokemon

,poke-id,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,id
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,0
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,1
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,2
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,3
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,795
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,796
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,797
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,798
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,799

In [18]:
# PostgreSQL connection details
db_url = "postgresql://leonardo:leo123@postgres:5432/pokemondb"

# Create a SQLAlchemy engine
engine = create_engine(db_url)

# Send the DataFrame to PostgreSQL (replace 'orders' with your table name)
df_pokemon.to_sql('pokemon', engine, if_exists='replace', index=False)

print("Pokemon data inserted successfully into the PostgreSQL database!")

Pokemon data inserted successfully into the PostgreSQL database!

In [21]:
# Database connection parameters
db_params = {
    "dbname": "pokemondb",
    "user": "leonardo",
    "password": "leo123",
    "host": "postgres",
    "port": "5432"
}

# SQL query to alter the column
alter_column_query = """
ALTER TABLE pokemon 
ALTER COLUMN id SET NOT NULL;
"""

try:
    # Connect to the PostgreSQL database
    conn = psycopg2.connect(**db_params)
    conn.autocommit = True  # Ensures the changes are committed automatically
    cursor = conn.cursor()
    
    # Execute the ALTER TABLE command
    cursor.execute(alter_column_query)
    print("Column 'name' set to NOT NULL successfully.")
    
    # Close the connection
    cursor.close()
    conn.close()
    
except Exception as e:
    print(f"Error occurred: {e}")

Column 'name' set to NOT NULL successfully.

In [22]:
url = "http://kafka:8083/connectors"
headers = {
    "Content-Type": "application/json"
}

data = {
    "name": "postgres-pokemon-source-connector",
    "config": {
        "connector.class": "io.confluent.connect.jdbc.JdbcSourceConnector",
        "connection.url": "jdbc:postgresql://postgres:5432/pokemondb",
        "connection.user": "leonardo",
        "connection.password": "leo123",
        "table.whitelist": "pokemon",
        "mode": "incrementing",
        "incrementing.column.name": "id",
        "topic.prefix": "postgres-",
        "poll.interval.ms": 1000,
        "key.converter": "org.apache.kafka.connect.json.JsonConverter",
        "value.converter": "org.apache.kafka.connect.json.JsonConverter",
        "key.converter.schemas.enable": False,
        "value.converter.schemas.enable": False
    }
}

response = requests.post(url, headers=headers, data=json.dumps(data))

# Check the response
if response.status_code == 201:
    print("Connector created successfully!")
else:
    print(f"Error creating connector: {response.status_code}")
    print(response.json())

Connector created successfully!

In [29]:
url = "http://kafka:8083/connectors"
headers = {
    "Content-Type": "application/json"
}

data = {
    "name": "pokemon-elasticsearch-sync-connector",
    "config": {
        "connector.class": "io.confluent.connect.elasticsearch.ElasticsearchSinkConnector",
        "connection.url": "http://elasticsearch:9200",
        "type.name": "_doc",
        "topics": "postgres-pokemon",
        "key.ignore": True,
        "schema.ignore": True,
        "value.converter": "org.apache.kafka.connect.json.JsonConverter",
        "value.converter.schemas.enable": False,
        "batch.size": 200,
        "flush.timeout.ms": 10000
    }
}

# Send the POST request
response = requests.post(url, headers=headers, data=json.dumps(data))

# Check the response
if response.status_code == 201:
    print("Elasticsearch connector created successfully!")
else:
    print(f"Error creating connector: {response.status_code}")
    print(response.json())

Elasticsearch connector created successfully!